.full-width{
	width:100%;
}
.margin-10{
	margin: 10px;
}
.margin-t-10{
	margin-top: 10px;
}
.margin-b-10{
	margin-bottom: 10px;
}
.margin-r-10{
	margin-right: 10px;
}
.margin-l-10{
	margin-left: 10px;
}
.margin-15{
	margin: 15px;
}
.margin-t-15{
	margin-top: 15px;
}
.margin-b-15{
	margin-bottom: 15px;
}
.margin-r-15{
	margin-right: 15px;
}
.margin-l-15{
	margin-left: 15px;
}

.page-logo a.logo-text{
	font-family: "Open Sans",sans-serif;
	font-size: 24px;
	font-weight: 400!important;
	color: #5C9BD1;
	text-decoration: none;
	padding-top: 20px;
}
.page-logo a.logo-text red{
	color: red!important;
}
.page-sidebar-closed .page-logo a.logo-text{
	display:none;
}
#toast-container{
	top: 90px;
}
table.dataTable thead th, table.dataTable thead td, table.dataTable.no-footer{
	border-color: #e7ecf1;
}
table.dataTable thead th, table.dataTable tbody td{
	font-size: 13px;
}
.dataTables_wrapper .dataTables_processing{
	padding: 10px;
    height: auto;
    background: white;
	font-size: 14px;
}
.modal-loading{
	padding: 10px 20px;
	margin: 20px auto;
	text-align: center;
	font-size: 15px;
}
table.table tr th, table.table tr td{
	font-size: 12px;
}
table.table tr th{
	vertical-align: middle;
}
table.table a{
	text-decoration: none;
	color: #000;
}
.portlet-body .filter, .portlet-body{
	font-size: 12px;
}
.filter .form-control,  .portlet-body .filter .btn, .dropdown-menu>li>a{
	font-size: 12px;	
	height: auto;
    padding: 5px 7px;
}
.portlet-body .filter label{
	padding-top: 7px;
}


body.print .page-header.navbar.navbar-fixed-top,
body.print .page-sidebar-wrapper,
body.print .page-content .page-head,
body.print .page-content .page-breadcrumb ,
body.print .page-content .portlet-title .caption i,
body.print .page-content .portlet-title .actions,
body.print .page-footer,
body.print .hide-print{
	display: none;
}
body.print .page-container,
body.print .page-container .page-content{
	margin: 0px;
    padding: 0px;
}
body.print .portlet.light>.portlet-title{
	min-height: auto;
	border-bottom: 0px;
}
body.print .portlet.light{
	margin: 0px;
    padding: 10px;
}
body.print .portlet.light>.portlet-title{
	text-align: center;
	margin-bottom: 0px;
}
body.print .portlet.light>.portlet-title .caption{
	float: none;
}
.modal .modal-dialog{
	position: relative;
	padding: 0px;
	background: transparent;
    box-shadow: none;
    border: 0px;
}
table.dataTable tfoot th, table.dataTable tfoot td{
	border-top: 2px solid #e7ecf1;
}